<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>295387888589-6k6tvao25m6lr6jh03mpdfiskc1j0k5p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295387888589-6k6tvao25m6lr6jh03mpdfiskc1j0k5p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>295387888589-lbafpi47q4j193hhti471hl7jiahln1e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCvR4tvsH9tO4-TAS0H3qHGA-0zjnloZsg</string>
	<key>GCM_SENDER_ID</key>
	<string>295387888589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.QtechNetworks.FineDiner</string>
	<key>PROJECT_ID</key>
	<string>finedinner---ga4</string>
	<key>STORAGE_BUCKET</key>
	<string>finedinner---ga4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295387888589:ios:acdaa453a8dd97344e2284</string>
</dict>
</plist>